<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pharmeasy_clone">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PharmEasy_Clone">
        <activity
            android:name=".view.Activities.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".view.Activities.CartActivity"
            android:exported="false" />
        <activity
            android:name=".view.Activities.DetailedViewActivity"
            android:exported="false" />
        <activity
            android:name=".view.Activities.AllCategoriesViewActivity"
            android:exported="false" />
        <activity
            android:name=".view.Login.Login"
            android:exported="false" />
        <activity
            android:name=".view.Activities.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>